body{
    overflow: hidden;
}
.container
{
    margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 100vh;
  overflow:hidden;
}
.calculator
{
    padding: 10px;
    width: 350px;
    height: auto;
    background-color:white;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
}
input
{
    height: 50px;
    background-color: rgb(204, 201, 201);
    color: black;
    font-size: 20px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 0px 36px;
    cursor: pointer;
}
#result
{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    font-size: 20px;
    border: 1px solid rgb(221, 217, 217);
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#equal
{
    width: 100%;
    height: 228px;
    background-color: rgb(28, 132, 235);
    color: white;
    font-size: 20px;
    border: 1px solid rgb(28, 132, 235);
    border-radius: 5px;
    padding: 20px 0px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
table{
    margin: 10px;
}
td
{
    text-align: center;
}
